body {
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    padding-right: 24px;
    padding-left: 24px;
}

p {
    color: rgb(73, 73, 73);
    font-size: 1.2em;
}

h3 {
    color: darkblue;
}

img {
    width: 250px;
}

.about {
    background-color: gainsboro;
    padding: 16px;
}

table {
    border: black;
    border-width: 1px;
    border-style: solid;
}

th {
    border: black;
    border-width: 1px;
    border-style: solid;
    padding: 10px;
    margin-right: 16px;
    text-align: left;
}

td {
    border: black;
    border-width: 1px;
    border-style: dashed;
    padding: 10px;
}

.jobs {
    border: black;
    border-style: solid;
    border-width: 2px;
    padding-left: 16px;
    padding-right: 16px;
    padding-bottom: 24px;
    margin-bottom: 24px;
}

.school{
    border: black;
    border-style: solid;
    border-width: 2px;
    padding-left: 16px;
    padding-right: 16px;
    padding-bottom: 24px;
}
